.req_star{
    color: #ff0000;
}

.sa-btn-cancle{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.sa-btn-cancle:hover{
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}
.sa-btn-cancle:not([disabled]):hover {
    background-color: #bb2d3b;
}

.swal-modal{
  padding-bottom: 30px;
}

.color-remove-button{
  text-align: center;
  font-size: 14px;
  background-color: rgb(194, 27, 27);
  border: 0px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -40px;
  top: 6px;
  padding: 0px;
}

.dropzone{
  border: 2px dashed #dee2e6;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  min-height: 150px;
  padding: 20px;
}

/* Tell Quill not to scroll */
#quill-container {
  height: auto;
  min-height: 100%;
  padding: 50px;
}

#quill-container .ql-editor {
  font-size: 18px;
  overflow-y: visible; 
}

/* Specify our own scrolling container */
#scrolling-container {
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
}
